.header {
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto 70px;
  padding: 15px 0;
}
.logo-main {
  text-decoration: none;
  background-color: pink;
}
.logo-quick-title {
  border: 1px solid #b7b7b7;
  padding: 7px 7px;
  background-color: #387478;
  color: #e2f1e7;
  font-weight: bold;
  text-decoration: none;
}
.logo-mart-title {
  border: 1px solid #b7b7b7;
  padding: 5px 5px;
  background-color: #e2f1e7;
  color: #387478;
  font-weight: bold;
  text-decoration: none;
}

#header-line {
  border: 0.1px solid #f2f2f2; /* light gray line */
  margin: auto 70px;
}
#logo-img {
  background-color: aqua;
  height: 50px;
}
.search-bar {
  width: 100%;
  display: flex;
}
.search-input {
  width: 100%;
  height: 35px;
  border-radius: 5px;

  margin-left: 20px;
  margin-right: 5px;
  padding-left: 8px;
  outline: none;
  border: 1px solid rgb(213, 212, 212);
}
.search-input:hover {
  border: 1px solid #387478;
}

.search-input:focus {
  border: 1px solid #387478; /* Keeps it pink even when clicked */
  outline: none; /* Optional, hides the glow/outline */
}
#search-btn {
  background-color: #387478;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  color: white;
  font-weight: bold;
}
#search-btn:hover {
  background-color: #387478;
}

/* addition css code */
.search-bar-container {
  position: relative;
  width: 100%;
}

.search-suggestions {
  position: absolute;
  top: 100%;
  left: 20px;
  right: 95px;
  max-height: 200px; /* roughly 5 rows */
  overflow-y: auto;
  background: white;
  border: 1px solid #ccc;
  border-top: none;
  z-index: 999;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.suggestion-item {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
  border-bottom: 1px solid #eee;
}

.suggestion-item:hover {
  background-color: #f2f2f2;
  color: #387478;
}
