.all-sizes-table {
  overflow-x: auto;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.all-sizes-table-main {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
  table-layout: fixed;
}

.all-sizes-table-heading {
  background-color: #629584;
  color: #e2f1e7;
  padding: 12px;
  /* width: 100%; */
  font-weight: bold;
  text-align: left;
  padding: 12px 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: small;
  /* background-color: pink; */
  width: 100%;
}

.all-sizes-table-data {
  text-align: left;
  padding: 11px 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: small;
}

.all-sizes-table-row:nth-child(even) {
  background-color: #f2f2f2;
}
.all-sizes-table-heading:nth-child(1),
.all-sizes-table-data:nth-child(2) {
  width: 200px; /* ID */
}

.all-sizes-table-heading:nth-child(2),
.all-sizes-table-data:nth-child(3) {
  width: 450px; /* Title */
}

.all-sizes-table-heading:nth-child(3),
.all-sizes-table-data:nth-child(4) {
  width: 450px; /* Description */
}

#no-result-found-row td#no-result-found-txt {
  text-align: center;
  padding: 1rem;
  font-weight: bold;
  color: #666;
}
