/* SpinnerMini.css */
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner-icon {
  width: 1rem;
  height: 1rem;
  animation: rotate 1.5s infinite linear;
}

@keyframes rotate {
  to {
    transform: rotate(1turn);
  }
}
