.edit-product-container {
  height: 100%;
  margin: auto 20px;
  padding: 20px 0;
  /* background-color: yellow; */
}
.edit-product-card {
  background-color: white;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  display: grid;

  grid-template-rows: 0.5fr 4fr;
  grid-template-columns: 1fr;
  /* background-color: peru; */
  height: max-content;
}

.edit-product-top {
  margin: 10px;
  /* background-color: tomato; */
}
.edit-product-middle {
  /* background-color: red; */
  margin: 10px;
  display: flex;
}
.edit-product-bottom {
  background-color: pink;
  height: 100%;
}
.edit-product-path {
  /* background-color: rgb(27, 15, 75); */
  flex: 2;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: small;
  color: #387478;
}
.edit-product-title {
  /* background-color: rgb(40, 246, 226); */
  flex: 3;
  font-size: xx-large;
  font-weight: bolder;
  color: #243642;
}

/* / //////////////////////////////////////////////////////////////////////////// */
/* Container for the form */
.add-product-container {
  margin: auto 70px;
}
.path-link {
  color: #387478;
  font-size: 16px;
  margin-top: 10px;
  color: #629584;
}

.add-product-form-container {
  background-color: white;
  width: 100%;
  /* margin: 20px auto; */
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.add-product-title {
  color: #387478;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Form styling */
.add-product-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px px 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);

  width: 300px;
  width: 100%;
}

/* Form group */
.add-product-form-group {
  display: flex;
  flex-direction: column;
}

.add-product-form-group label {
  font-size: 14px;
  font-weight: bold;

  margin-bottom: 2px;
  color: #629584;
}

.add-product-form-group input {
  padding: 8px;
  font-size: 14px;
  border-radius: 5px;
  color: #629584;
  border: 1px solid #e2f1e7;
  transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Smooth effect */
  margin-bottom: 16px;
  width: 65%;
}

/* On focus, change border and shadow color */
.add-product-form-group input:focus {
  border-color: #e2f1e7; /* Custom border color on focus */
  box-shadow: 0 0 5px #e2f1e7; /* Optional shadow effect */
  outline: none; /* Remove default outline */
}

/* Add button styling */
.add-product-button {
  padding: 8px 12px;
  font-size: 16px;
  font-weight: medium;
  color: #e2f1e7;
  background-color: #387478;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: max-content;
  transition: background-color 0.3s ease;
}

.add-product-button:hover {
  background-color: #387478e5;
}
.cancel-product-button {
  padding: 8px 12px;
  font-size: 16px;
  font-weight: medium;
  background-color: #cccc;
  color: #387478;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: max-content;
  transition: background-color 0.3s ease;
  margin-right: 10px;
}

.cancel-product-button:hover {
  background-color: #ccc;
}

.asterisk-sign {
  color: red;
  font-size: medium;
}
.optional-txt {
  color: #629584;
  font-style: italic;
  font-weight: 400;
}

.add-product-form-group-container {
  display: flex;
  align-items: center;
  justify-content: center;

  /* background-color: orange; */
}
.add-product-form-group-container-left {
  /* background-color: cadetblue; */
  flex: 1;
  margin-right: 10px;
}

.add-product-form-group-container-right {
  /* background-color: rgb(95, 160, 98); */
  flex: 1;
  margin-left: 10px;
}
.error-message {
  color: red;
  font-size: 14px;
}

.input-and-error-container {
  display: flex;
  gap: 10px;
}
.btns-update-product {
  /* background-color: blueviolet; */
}

.edit-product-attributes {
  background-color: pink;
}

/* dropdown menu color */
.color-container {
  width: 65%;
  /* background-color: yellow; */
  flex: 1;
}
.color-dropdown-container {
  width: 65%;
  margin-right: 10px;
  /* background-color: yellow; */
  flex: 1;
}

.color-options {
  max-height: 150px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 0.5rem;
}

.color-options button {
  display: block;
  margin: 0.25rem 0;
  background-color: #eee;
  padding: 0.25rem;
  cursor: pointer;
  border-radius: 15px;
  /* color: #629584;
  border: 1px solid #387478; */
  padding: 5px 12px;
}

.selected-colors .tag {
  display: inline-block;
  background-color: #629584;
  color: white;
  margin: 0.25rem;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  font-size: small;
}

/* dropdown menu size */

.size-container {
  width: 65%;

  flex: 1;
}
.size-dropdown-container {
  width: 65%;
  margin-left: 10px;
  flex: 1;
}

.size-options {
  max-height: 150px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 0.5rem;
}

.size-options button {
  display: block;
  margin: 0.25rem 0;
  background-color: #eee;
  padding: 0.25rem;
  cursor: pointer;
  border-radius: 15px;
  /* color: #629584;
  border: 1px solid #387478; */
  padding: 5px 12px;
}

.selected-sizes .tag {
  display: inline-block;
  background-color: #629584;
  color: white;
  margin: 0.25rem;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  font-size: small;
}

.dropdown-toggle {
  /* background-color: pink; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 10px;
  gap: 14px;
  color: #629584;
  background-color: #e2f1e7;
  font-weight: bold;
  border: 1px solid #e2f1e7;
  border-radius: 5px;
}

.dropdown-toggle-input {
  /* background-color: pink; */
  width: 100%;
  margin-top: 10px;
  height: 35px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  outline: none;
  text-decoration: none;
  border: 1px solid #ccc;
  padding-left: 10px;
}

.creating-product {
  /* background-color: pink; */
  display: flex;
  gap: 10px;
}

.add-product-button:disabled {
  opacity: 0.6;
  pointer-events: none;
  cursor: not-allowed;
}

.colors-sizes-container {
  /* background-color: pink; */
  display: flex;
}
