* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.main-container {
  background-color: #f0f0f0;
}

/* color: #243642;
color: #387478;
color: #629584;
color: #e2f1e7;  */
