.all-products-container {
  height: 100%;
  margin: auto 20px;
  padding: 20px 0;
}

.all-products-card {
  background-color: white;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: grid;

  grid-template-rows: 0.99fr 4fr 0.4fr;
  grid-template-columns: 1fr;
}

.all-products-top {
  background-color: rgb(186, 245, 179);
}

.all-products-middle {
  /* background-color: rgb(180, 179, 245); */
}

.all-products-bottom {
  background-color: rgb(245, 187, 179);
}
