.product-card {
  width: 260px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  font-family: Arial, sans-serif;
  position: relative;
  background: #fff;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

.product-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.brand-logo {
  position: absolute;
  top: 8px;
  right: 8px;
  background: black;
  color: white;
  padding: 4px 6px;
  font-size: 10px;
  border-radius: 3px;
  font-weight: bold;
}

.discount-badge {
  position: absolute;
  top: 8px;
  left: 8px;
  background-color: #f44336;
  color: white;
  padding: 4px 8px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 4px;
  z-index: 1;
}

.product-info {
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.delivery-badge {
  background-color: #00c853;
  color: white;
  font-size: 11px;
  padding: 5px;
  border-radius: 3px;
  align-self: start;
  font-weight: bold;
}

.category {
  font-size: 12px;
  color: #888;
}

#product-title {
  font-size: 16px;
  font-weight: 600;
  color: #333;
  margin: 4px 0;
  color: #387478;
}

.description {
  font-size: 13px;
  color: #555;
}

.price {
  font-size: 18px;
  color: #000;
  font-weight: bold;
}
.vat {
  font-size: 12px;
  color: #666;
}

.original-price {
  font-size: 14px;
  color: #f44336;
  text-decoration: line-through;
  margin-left: 6px;
}

.image-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  gap: 10px;
}

.nav-btn {
  background: #e2f1e7;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #629584;
}

.slider-img {
  border: 1px solid #ccc;
  padding: 4px;
  border-radius: 5px;
}

.product-image-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
}

.nav-btn {
  background: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
  padding: 4px 8px;
  border-radius: 4px;
  z-index: 1;
}

.nav-btn:hover {
  background: rgba(0, 0, 0, 0.7);
}
