.sign-out-container {
  /* background-color: aquamarine; */
  width: 100%;
  height: 100%;
  padding: 0px 5px;
}

.sidebar-sign-out-button {
  background-color: white; /* dark background */
  /* light text color */
  border: none;
  text-decoration: none;

  width: 100%;

  color: #f9fafb;
  font-weight: 500;
  font-size: 16px;
  transition: background 0.2s ease;
  text-decoration: none; /* Removes underline */

  color: #387478;
  font-size: 17px;
  padding: 10px 15px;
  border-radius: 5px;
  display: flex; /* Flexbox for aligning icon and text */
  align-items: center;
  gap: 10px; /* Space between icon and text */
  transition: background-color 0.3s ease, color 0.3s ease;
}
.sidebar-sign-out-button:hover {
  background-color: #e2f1e7;
  color: #387478;
  font-weight: 500;
}

.sidebar-logout-icon {
  /* background-color: red; */
}
.sidebar-logout-txt {
  /* background-color: blue; */
}
