.all-colors-container {
  height: 100%;
  margin: auto 20px;
  padding: 20px 0;
}

.all-colors-card {
  background-color: white;
  min-height: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: grid;

  grid-template-rows: 0.8fr 4fr 0.3fr;
  grid-template-columns: 1fr;
  /* background-color: pink; */
  height: max-content;
}

.all-colors-top {
  /* background-color: rgb(186, 245, 179); */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px 10px 0px 10px;
}
.edit-product-path {
  /* background-color: rgb(27, 15, 75); */
  flex: 2;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: small;
  color: #387478;
}
.edit-product-title {
  /* background-color: rgb(40, 246, 226); */
  flex: 3;
  font-size: xx-large;
  font-weight: bolder;
  color: #243642;
}
.all-colors-top-middle {
  background-color: rgb(40, 246, 226);
  flex: 3;
  font-size: xx-large;
  font-weight: bolder;
  color: #243642;
}

.all-colors-top-bottom {
  /* background-color: rgb(104, 102, 7); */
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

#all-colors-search {
  width: 300px;
  padding: 7px;
  border-radius: 5px;
  color: #387478;
  font-size: small;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border: 1px solid #e2f1e7;
  outline: none;
  margin-right: 10px;
}

.view-by-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#all-colors-view {
  width: 60px;
  padding: 6px;
  border-radius: 3px;
  color: #243642;
  font-size: small;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid #e2f1e7;
  outline: none;
  color: #387478;
  width: max-content;
  cursor: pointer;
  border: 2px solid #e2f1e7;
}

#add-color-btn {
  width: 60px;
  padding: 6px;
  border-radius: 3px;
  color: #243642;
  font-size: small;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid #e2f1e7;
  outline: none;
  color: #387478;
  width: max-content;
  cursor: pointer;
  border: 2px solid #e2f1e7;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.all-colors-status-filter {
  width: 60px;
  padding: 6px;
  border-radius: 3px;
  color: #387478;
  font-size: small;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid #e2f1e7;
  outline: none;
  border: 2px solid #e2f1e7;
  width: max-content;
  /* display: none; */
}
.all-colors-bottom {
  background-color: #e2f1e7;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#all-colors-rows {
  font-size: small;
  color: #243642;
  margin-left: 10px;
}
.all-colors-pages {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  font-size: small;
  color: #243642;
  margin-right: 10px;
}

.forward-back-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  cursor: pointer;
  font-size: medium;
}
.forward-back-btns:hover {
  color: #387478;
}

#view-by-menus {
  position: absolute;
  right: 102px;
  top: 126px;
  background-color: white;
  border: 1px solid #e9e9e9;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  z-index: 10;
  min-width: 94px;
  font-size: small;
}

#view-by-menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
  /* display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%; */

  /* display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0f82f5; */
}

#view-by-menu-list li {
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  color: #387478;
  font-size: smaller;
}

#view-by-menu-list li:hover {
  background-color: #f0f0f0;
}

.view-by-icons {
  font-size: 12px;
  color: #0f82f5;
}

#view-by-icons-asc {
  margin-left: 5px;
}

/* color add modal code */
/* Modal Overlay */
.modal-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(2px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

/* Modal Box */
.modal-box {
  background: white;
  padding: 24px;
  width: 550px;
  border-radius: 8px;
  position: relative;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  /* display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; */
}
#add-color-modal-title {
  font-size: 24px;
  font-weight: bold;
  color: #243642;
  margin-bottom: 25px;
}

/* Close Button */
.modal-close {
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 20px;
  color: white;
  background-color: #243642;
  cursor: pointer;
}

.modal-close:hover {
  color: red;
}

/* Form Fields */
.modal-form label {
  display: block;
  font-weight: 500;
  margin-bottom: 4px;
}

.modal-form input {
  width: 100%;
  padding: 8px 10px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Trigger Button */
.add-color-button {
  padding: 8px 16px;
  background-color: #2563eb;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-color-button:hover {
  background-color: #1d4ed8;
}

/* add color form */
/* Form group */
.add-color-form-group {
  display: flex;
  flex-direction: column;
}

.add-color-form-group label {
  font-size: 14px;
  font-weight: bold;

  margin-bottom: 2px;
  color: #629584;
}

.add-color-form-group input {
  padding: 8px;
  font-size: 14px;
  border-radius: 5px;
  color: #629584;
  border: 1px solid #e2f1e7;
  transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Smooth effect */
  margin-bottom: 16px;
  width: 65%;
}

/* On focus, change border and shadow color */
.add-color-form-group input:focus {
  border-color: #e2f1e7; /* Custom border color on focus */
  box-shadow: 0 0 5px #e2f1e7; /* Optional shadow effect */
  outline: none; /* Remove default outline */
}

.input-and-error-container {
  display: flex;
  gap: 10px;
}
.error-message {
  color: red;
  font-size: 14px;
}

.add-color-button {
  padding: 8px 12px;
  font-size: 16px;
  font-weight: medium;
  color: #e2f1e7;
  background-color: #387478;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: max-content;
  transition: background-color 0.3s ease;
}

.add-color-button:hover {
  background-color: #387478e5;
}
.cancel-color-button {
  padding: 8px 12px;
  font-size: 16px;
  font-weight: medium;
  background-color: #cccc;
  color: #387478;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: max-content;
  transition: background-color 0.3s ease;
  margin-right: 10px;
}

.cancel-color-button:hover {
  background-color: #ccc;
}
